<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>
			ajaApp
		</title>
		<link rel="stylesheet" href="css/ajaApp.css" />
	</head>
	<body>
		<div id="ajaApp"></div>
		<div id="route"></div>
		<script src="lib/jquery.js"></script>
		<script src="lib/json2.js"></script>
		<script src="lib/underscore.js"></script>
		<script src="lib/backbone.js"></script>
		<script src="app/RoutePoint.js"></script>
		<script src="app/Route.js"></script>
		<script src="app/RoutePointView.js"></script>
		<script src="app/RouteView.js"></script>
		
		<!-- Bootstrap -->
		
		<script>
			var route = new Route([
				{id: 1, question: '1', answer: '2'},
				{id: 2, question: '2', answer: '3'},
				{id: 3, question: '3', answer: '4'},
				{id: 4, question: '4', answer: '5'},
				{id: 5, question: '5', answer: '6'},
				{id: 6, question: '6', answer: '7'},
			]);
		</script>
		
		<!-- templates -->
		
		<script type="text/template" id="routePointTemplate">
			<div>
				<strong><%= routePoint.get("question") %></strong>
				<input type="text" size="25" id="guess" placeholder="Vastauksesi" />
				<button class="guess" id="<%= routePoint.get("id") %>">Anna vastauksesi</button>
			</div> 	
		</script>
		
		<script type="text/template" id="routeTemplate">
				<% route.each(function(routePoint) { %>
					<% var routePointView = new RoutePointView({model: routePoint}); %>
				<% }); %>
		</script>
		
		<script src="ajaApp.js"></script>
		
	</body>
</html>